/* khai báo biến */
:root{
  --primary-color: #cd3591;
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
  --star-gold-color: #ffce3d;
  --border-color: #eeeeee;  
  --navbar-height: 50px;
  --height-contact: 30px;
  --height-menu: 46px;
  --header-height: calc(var(--navbar-height) + var(--height-contact) +  var(--height-menu));
  --header-with-search--height: calc(var(--header-height) - var(--navbar-height));
}
.App {
  overflow: hidden;
}
*{
  box-sizing: inherit; /*Xác định thừa hưởng thuộc tính từ thành phần cha (thành phần bao ngoài).*/
}
html{
  font-size: 62.5%;
  line-height: 1.6rem;
  /* font-family: 'Roboto', sans-serif; */
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

@keyframes faceIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}